*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F6FF;
}
.sidebar{
    width: 75px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.logo{
    width: 80%;
}
nav{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
    padding: 12px;
    border-radius: 15px;
    color: aliceblue;
    line-height : 20px;
    background: linear-gradient(145deg, #7771ff, #645fdf);
    box-shadow:  0px 0px 0px #6e69f6,
             -0px -0px 0px #706bfa;
}
.logOutLogo{
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
    color: aliceblue;
    background-color: #1e1e1e;
    text-align: center;
}
.mainBody{
    width: calc(100% - 75px);
    height: 100%;
    padding: 0px 50px;
    background-color: #F2F6FF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
}
.pageName{
    font-size: 35px;
    font-weight: bold;
}
.navOpts{
    width: 16%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navOpts a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.summaryPanel{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: orange; */
}
.summaryPanelName{
    font-size: 25px;
}
.summaryPanelBody{
    width: 100%;
    height: 65%;
    padding : 0px 20px;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summaryPanelCard{
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: green;
    padding: 0px 15px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.summaryPanelCardLogo{
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    color: whitesmoke;
}
.blueLogo{
    background-color: #038BC5;
}
.redLogo{
    background-color: #EE7071;
}
.summaryPanelCardData{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 0px 15px;
    /* background-color: green; */
}
.summaryPanelCardName{
    font-size: 12px;
    color: #9AA3B5;
}
.summaryPanelCardValue{
    font-size: 25px;
}
.activityChartContainer{
    width: 100%;
    height: 80%;
}
.chartHeader{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}
.chartOpts{
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chartName{
    font-size: 25px;
}
.reset{
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chartSearchOpts{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
}
.btnSet{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnSet button{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
}
.chartSearch{
    width: 68%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chartSearch input{
    position: absolute;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.chartSearch i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}
.activityChart{
    width: 100%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}